.tabs {
    position: relative;
}

.tabs__navigation {
    display: flex;
    width: max-content;
    gap: 15px;
}

.tabs__item {
    border-radius: 50px;
    background-color: var(--light-gray);
}

.tabs__item:hover,
.tabs__item--active {
    background-color: var(--dark-white);
    transition: 0.3s;
}

.tabs__item--active .tabs__link {
    color: var(--light-black);
    transition: 0.3s;
}

.tabs__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 15px;
    color: var(--gray);
    display: flex;
    align-items: center;
}

.tabs__pane {
    display: none;
}

.tabs__pane--active {
    display: block;
}

/*не обязательные стили, использованы для красивой демонстрации*/

.media__wrapper {
    padding: 25px;
    background-color: var(--light-blue);
    border-radius: 5px;
}

.media__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.media__list--margin-25 {
    margin: 0 0 25px;
}

.media__link {
    display: block;
}

.media__picture {
    position: relative;
    margin: 0 0 10px 0;
}

.media__img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
}

.media__date {
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);
    margin: 0 0 5px 0;
}

.media__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.margin-bottom-25 {
    margin: 0 0 25px;
}

.margin-bottom-40 {
    margin: 0 0 40px;
}

@media (max-width: 1080px) {
    /*не обязательные стили, использованы для красивой демонстрации*/

    .media__list {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 780px) {
    .tabs__navigation {
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .tabs__item {
        display: none;
        width: 100%;
        border-radius: 0;
    }

    .tabs__item--active {
        display: block;
        order: -1;
    }

    .tabs__link {
        position: relative;
    }

    .tabs__navigation.open .tabs__item  {
        display: block;
    }

    .tabs__item--active .tabs__link:before,
    .tabs__item--active .tabs__link:after {
        position: absolute;
        content: '';
        height: 6px;
        width: 2px;
        background-color: var(--light-blue);
        top: 50%;
        margin-top: -2px;
        transition: 0.2s;
    }

    .tabs__item--active .tabs__link:before {
        right: 20px;
        transform: rotate(-45deg);
    }

    .tabs__item--active .tabs__link:after {
        right: 16px;
        transform: rotate(45deg);
    }

    .tabs__navigation.open .tabs__link:before {
        transform: rotate(45deg);
    }

    .tabs__navigation.open .tabs__link:after {
        transform: rotate(-45deg);
    }

    /*не обязательные стили, использованы для красивой демонстрации*/

    .margin-bottom-40 {
        margin: 0 0 30px;
    }

    .media__list {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 530px) {
    /*не обязательные стили, использованы для красивой демонстрации*/

    .media__list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
}

@media (max-width: 480px) {
    /*не обязательные стили, использованы для красивой демонстрации*/

    .media__wrapper {
        background-color: var(--white);
        padding: 0;
    }

    .media__img {
        border-radius: 8px;
    }

    .media__date {
        font-size: 14px;
        line-height: 20px;
    }

    .media__text {
        font-size: 16px;
        line-height: 20px;
    }

    .margin-bottom-40 {
        margin: 0 0 25px;
    }

    .margin-bottom-25 {
        margin: 0 0 20px;
    }
}

